@tailwind base;
@tailwind components;
@tailwind utilities;


.img1{ 
  width: 292.23px; 
  height: 632.77px; 
  top: -542px; 
  left: 568px; 
  gap: 0px; 
  border-radius: 24px 0px 0px 0px; 
  transform: rotate(338deg); 
  position: absolute; 
  } 
  .img2{ 
    width: 292.23px; 
    height: 632.77px; 
    top: -592.98px; 
    left: 892.52px; 
    gap: 0px; 
    border-radius: 24px 0px 0px 0px;    
  transform: rotate(338deg); 
  position: absolute; 
   
  } 
  .img3{ 
    width: 310.49px; 
    height: 672.31px; 
    top: 87.41px; 
    left: 824.73px; 
    gap: 0px; 
    border-radius: 24px 0px 0px 0px;    
  transform: rotate(338deg); 
  position: absolute; 
     
  } 
  .img4{ 
    width: 292.23px; 
    height: 632.77px; 
    top: 15.29px; 
    left: 1139.95px; 
    gap: 0px; 
    border-radius: 24px 24px 24px 24px;    
  transform: rotate(338deg); 
  position: absolute; 
  clip-path: polygon(0% 0%, 100% 0%, 98.5% 59%, 79% 82%, 63% 100%, 0 100%);
  

     
  } 
  .img5{ 
    width: 292.23px; 
    height: 632.77px; 
    top: 730.84px; 
    left: 1071.48px; 
    gap: 0px; 
    border-radius: 2px 2px 2px 2px;    
  transform: rotate(338deg); 
  position: absolute; 
  clip-path: polygon(0% 0%, 100% 0%, 100% 34%, 58% 26%, 0 15.2%);
     
  } 
  .img6{ 
    width: 292.23px; 
    height: 632.77px; 
    top: 630.91px; 
    left: 1361.73px; 
    gap: 0px; 
    border-radius: 24px 0px 0px 0px;    
  transform: rotate(338deg); 
  position: absolute; 
  clip-path: polygon(0% 0%, 70% 0, 34% 39%, 0 32%);
     
  }
  .logooo{
    width: 1330px;
  height: 192.06px;
  padding: 20px 0px 20px 0px;
  gap: 0px;
    background-color: #FFFFFF;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #D8D8D8;
  }
.c1img{
width: 85.9px;
height: 172px;
top: 1px;
left: 305px;
gap: 0px;
position: absolute;
background: #71AF1C0A;

}
.c2{
margin-top: 20px;
}
.a1{
  width: 608px;
height: 132px;
gap: 24px;
top:100px;
position: absolute;
margin-left: 20px;
margin-right: 20px;
}

.a31{
  width:132px;
height:58px;
padding: 11px 24px 11px 24px;
gap: 8px;
border-radius: 8px ;
left:480px;
top:80px;
position: absolute;
background-color:#80A948;

}

.p{
  position: absolute;
  top:70px;
  left:800px;
}
.f2{
  width:600px;
height: 52px;
gap: 32px;

}

